body {
  background-image: url("/background.jpg"); /* ✅ ligger i public */
  background-repeat: no-repeat;
  background-position: bottom center;
 
  background-attachment: scroll; /* scroll = bilden rör sig inte med innehåll */
  z-index: -1;
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(250, 247, 247, 0.589));
  pointer-events: none;
  z-index: -1;
}