/* ======================= */
/* MY PROJECTS STYLING */
/* ======================= */

.projects-section {
  background-color: #fdfdfd00;
  color: #1C1C1C;
  padding-top: 2;
  padding-bottom: 2rem;
  padding-left: 300px;
  padding-right: 4rem;
  width: 100%;
}

.projects-react {
  margin-left: 0.5rem;
}

.projects-javascript {
  margin-right: 0.5rem;
}

.projects-figma {
  margin-left: 0.5rem;
}

.projects-heading {
  font-family: Helvetica, sans-serif;
  font-size: clamp(28px, 6vw, 72px);
  font-weight: bold;
  letter-spacing: -0.07em;
  line-height: 1.1;
  margin-bottom: 1rem;
  text-align: left;
}
.projects-box {
  width: 100%;
  max-width: 800px;
  border-top: 1px solid #A0A0A0;
  border-bottom: 1px solid #A0A0A0;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease; 
  border-radius: 8px;
  
}

.projects-box:hover {
  border-color: #1C1C1C; /* eller valfri accentfärg */
}

.projects-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: clamp(18px, 3vw, 24px);;
  font-weight: 500;
  letter-spacing: -0.05em;
  padding: 0rem 0;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.projects-icon {
  font-size: clamp(28px, 4vw, 48px);
  transition: transform 0.5s ease;
}

.projects-icon.open {
  transform: rotate(-45deg);
}

.projects-icon.right.open {
  transform: rotate(45deg);
  
}



.projects-content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease;
}

.projects-content.open {
  max-height: 1000px;
  opacity: 1;
  padding: 4rem 0;
}

/* =================== */
/* RESPONSIVITET */
/* =================== */

@media (max-width: 1536px) {
  .projects-section {
    padding-left: 220px;
    padding-right: 500px;
  }
}

@media (max-width: 1440px) {
  .projects-section {
    padding-left: 220px;
    padding-right: 400px;
  }
}

@media (max-width: 1280px) {
  .projects-section {
    padding-left: 180px;
    padding-right: 440px;
  }
}

@media (max-width: 1024px) {
  .projects-section {
    padding-left: 160px;
    padding-right: 280px;
  }
}

@media (max-width: 853px) {
  .projects-section {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 768px) {
  .projects-section {
    padding: 6rem 2rem 8rem;
    
  }
}

@media (max-width: 640px) {
  .projects-section {
    padding: 4rem 1.5rem 6rem;
  }
  .projects-heading {
    font-size: clamp(24px, 6vw, 52px);
  }
  .projects-toggle {
    font-size: clamp(18px, 4vw, 26px);
  }
 
}
